{% if page.author %} {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %} {% endif %}

<div class="cover-card">
  {% if site.icon %}
  <img src="{{ site.url }}/img/{{ site.icon }}" alt="" class="avatar">
  {% endif %}
  <a href="{{ site.url }}/" class="author_name">Material Motion</a>
  <span class="author_bio mbm">{{ site.description }}</span>
  <a href="{{ site.github_url }}/edit/{{ site.github_branch }}/{{ page.path }}">Edit this page</span>
  <nav class="nav">
    {% assign tree=site.toc %}
    <ul>
      {% include tree.html %}
    </ul>
  </nav>
</div>
