{% if page.status or page.availability or page.proposals or page.knowledgelevel or page.library or page.depends_on %}
{% if page.status.is == "Stable" %}
<div class="status status_stable">
{% else %}
<div class="status">
{% endif %}
<div class="status_content">

{% if page.status or page.knowledgelevel or page.library or page.depends_on %}

{% assign children = "" | split: "" %}
{% for subpage in site.pages %}
{% if subpage.depends_on contains page.url %}
{% assign children = children | push: subpage.url %}
{% endif %}
{% endfor %}

<table class="platform_table">
  <thead><tr>
{% if page.depends_on %}<th>Depends on</th>{% endif %}
{% if page.status %}<th>Specification status</th>{% endif %}
{% if page.knowledgelevel %}<th><a href="{{ site.url }}/starmap/overview">Knowledge level</a></th>{% endif %}
{% if page.library %}<th>Library</th>{% endif %}
{% if children.size > 0 %}<th>Features</th>{% endif %}
</tr></thead>
<tr>
{% if page.depends_on %}
<td>
  {% for dependency in page.depends_on %}
    <a href="{{ site.url}}{{ dependency }}">{{ dependency | split: '/' | last }}</a>{% if forloop.last == false %} &middot; {% endif %}
  {% endfor %}
</td>
{% endif %}
{% if page.status %}<td><strong>{{ page.status.is }}</strong> as of {{ page.status.date }}</td>{% endif %}
{% if page.knowledgelevel %}
<td>
{{ page.knowledgelevel }}: 
{% case page.knowledgelevel %}
  {% when 'L1' %}
    App Creative
  {% when 'L2' %}
    Director Creative
  {% when 'L3' %}
    Motion Creative
  {% else %}
    Runtime Engineering
{% endcase %}
</td>
{% endif %}
{% if page.library %}<td>{{ page.library }}</td>{% endif %}
{% if children.size > 0 %}
<td>
  {% for child in children %}
    <a href="{{ site.url}}{{ child }}">{{ child | split: '/' | last }}</a>{% if forloop.last == false %} &middot; {% endif %}
  {% endfor %}
</td>
{% endif %}
</tr>
</table>
{% endif %}

{% if page.availability %}
<table class="platform_table">
  <thead><tr>
    <th></th>
    {% for platform in page.availability %}
    <th>{{ platform.name }}</th>
    {% endfor %}
  </tr></thead>
  <tbody><tr>
    <td>Availability</td>
    {% for platform in page.availability %}
      <td><a href="{{ platform.url }}">{{ platform.label }}</a></td>
    {% endfor %}
  </tr></tbody>
</table>

{% endif %}
{% if page.proposals %}
<table class="status_table">
  <thead><tr><th>Proposal</th><th>Current Status</th><th>Initiation date</th><th>Completion date</th></tr></thead>
  <tbody>
    {% for proposal in page.proposals %}
    <tr>
      <td>
        {% if proposal.discussion_url %}
          <a href="{{ proposal.discussion_url }}">{{ proposal.discussion }}</a>
        {% else %}
          {{ proposal.discussion }}
        {% endif %}
      </td>
      <td>
        {{ proposal.state }}
      </td>
      <td>{{ proposal.initiation_date }}</td>
      <td>{{ proposal.completion_date }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
</div>
</div>
{% endif %}
