{% if page.status or page.availability or page.proposals or page.knowledgelevel %}
{% if page.status.is == "Stable" %}
<div class="status status_stable">
{% else %}
<div class="status">
{% endif %}
<div class="status_content">
{% if page.status %}
<div class="overall_status">Specification status: <strong>{{ page.status.is }}</strong> as of {{ page.status.date }}</div>
{% endif %}

{% if page.knowledgelevel %}
<div class="knowledge_level">
<a href="{{ site.url }}/starmap/overview">Knowledge level</a>:
{% case page.knowledgelevel %}
  {% when 'L1' %}
    App Creative
  {% when 'L2' %}
    Director Creative
  {% when 'L3' %}
    Motion Creative
  {% else %}
    Runtime Engineering
{% endcase %}
</div>
{% endif %}

{% if page.availability %}
<table class="platform_table">
  <thead><tr>
    <td></td>
    {% for platform in page.availability %}
    <td>{{ platform.name }}</td>
    {% endfor %}
  </tr></thead>
  <tbody><tr>
    <td>Availability</td>
    {% for platform in page.availability %}
      <td><a href="{{ platform.url }}">{{ platform.label }}</a></td>
    {% endfor %}
  </tr></tbody>
</table>

{% endif %}
{% if page.proposals %}
<table class="status_table">
  <thead><tr><td>Proposal</td><td>Current Status</td><td>Initiation date</td><td>Completion date</td></tr></thead>
  <tbody>
    {% for proposal in page.proposals %}
    <tr>
      <td>
        {% if proposal.discussion_url %}
          <a href="{{ proposal.discussion_url }}">{{ proposal.discussion }}</a>
        {% else %}
          {{ proposal.discussion }}
        {% endif %}
      </td>
      <td>
        {{ proposal.state }}
      </td>
      <td>{{ proposal.initiation_date }}</td>
      <td>{{ proposal.completion_date }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
</div>
</div>
{% endif %}
