/**
  * Global setting
  */
*,
*:before,
*:after {
  @include box-sizing;
}
.notice {
  border: 1px solid lighten($text-color, 45%);
  border-radius: 0.4em;
  padding: 0.5em 1em;
}
img {
  height: auto;
  max-width: 100%;
}

// Tables
td {
  border: 1px solid #ddd;
}
.table {
  display: block;
}
.table-cell {
  display: table-cell;
}
.table-top {
  vertical-align: top;
}
.table-middle {
  vertical-align: middle;
}
.table-bottom {
  vertical-align: bottom;
}
table {
  width: 100%;
  display: block;
  &.bordered > thead > tr,
  &.bordered > tbody > tr {
    border-bottom: 1px solid $table-border-color;
  }
  &.striped > tbody {
    > tr:nth-child(odd) {
      background-color: $table-striped-color;
    }
    > tr > td {
      border-radius: 0;
    }
  }
  &.highlight > tbody > tr {
    @include transition(background-color .25s ease);
    &:hover {
      background-color: $table-striped-color;
    }
  }
  &.centered {
    thead tr th,
    tbody tr td,
    tfoot tr td {
      text-align: center;
    }
  }
}
table tr:nth-child(2n) {
  background-color: rgba(128, 128, 128, 0.1);
}
thead {
  border-bottom: 1px solid $table-border-color;
  font-weight: bold;
}
td,
th {
  padding: 6px 13px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}
tfoot {
  border-top: 1px solid $table-border-color;
}

.status {
  background-color: #f5f5f5;
}
.status .status_content {
  padding: 1px 16px;
}
.status table td {
  padding: 4px;
}
.status table td img {
  width: 32px;
}
.status_stable {
  background-color: #E8F5E9;
}
.platform_table,
.status_table,
.overall_status,
.knowledge_level,
.dependency_table,
.stream_table {
  margin: 16px 0;
}
.dependency_table_container {
  display: table;
  margin: 0 auto;
}
.dependency_table_footer td {
  text-align: center;
}
.platform_table th {
  text-align: center;
  padding: 6px 2px;
}
.platform_table tr:nth-child(2n) {
  background-color: inherit;
}
.dependency_table td,
.stream_table td {
  border: none;
}

// Global transition
b,
i,
strong,
em,
blockquote,
p,
q,
span,
figure,
img,
h1,
h2,
header,
input,
a {
  @include transition(all .1s ease);
}

.code-container .filter {
  text-align: right;
}
.code-container .filter input {
  margin: 8px;
  margin-left: 4px;
  margin-right: 16px;
}

#tech-tree {
  width: 100%;
  height: 500px;
}

// Footer
footer {
  text-align: center;
  padding: 3em 0;
  .heart-icon {
    color: $danger;
    text-shadow: 0 0 5px $white, 0 0 10px $danger;
  }
}
.related-articles {
  margin-top: 2em;
  h4 {
    font-family: $font-family-base;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
