/* ==========================================================================
   Syntax highlighting
   ========================================================================== */


pre, code {
  font-family: $font-family-monospace;
  color: #525252;
  font-size: 0.9em;
  background-color: #f8f8f8;
  font-size: ($font-size-base - 3);
}
code {
  color: #e96900;
  border-radius: 2px;
  white-space: nowrap;
}


pre { // only apply for code blocks
  overflow: auto;
  display: block;
  padding: 1em;
  margin: 0 0 1em;
  line-height: $base-line-height * 0.925;
  word-break: break-all;
  word-wrap: break-word;
  border-radius: 0;
  font-weight: normal;
}
pre code {
  background: transparent;
  white-space: pre;
  overflow: auto;
  word-wrap: normal;
  color: #525252;
  span {
    word-break: break-all;
  }
}
.highlight {
  margin: 0;
  pre {
    position: relative;
  }
  pre code {
    color: #525252;
    &::before {
      content: attr(data-lang);
      position: absolute;
      top: 0;
      right: 0;
      color: #ccc;
      text-align: right;
      text-transform: uppercase;
      font-size: 0.85em;
      padding: 5px 10px 0;
      line-height: 20px;
      height: 20px;
      font-weight: 600;
    }
  }
  .hll{background-color:#EFEFEF}
  .c{color:#929292}
  .err{background:#C82829;color:#FFFFFF}
  .k{color:#8959A8}
  .l{color:#F5871F}
  .n{color:#929292}
  .o{color:#545454}
  .p{color:#929292}
  .cm{color:#929292}
  .cp{color:#929292}
  .c1{color:#929292}
  .cs{color:#929292}
  .gd{color:#C82829}
  .ge{font-style:italic}
  .gh{color:#545454;font-weight:bold}
  .gi{color:#718C00}
  .gp{color:#718C00;font-weight:bold}
  .gs{font-weight:bold}
  .gu{color:#3E999F;font-weight:bold}
  .kc{color:#8959A8}
  .kd{color:#8959A8}
  .kn{color:#3E999F}
  .kp{color:#4271AE}
  .kr{color:#8959A8}
  .kt{color:#EAB700}
  .ld{color:#718C00}
  .m{color:#F5871F}
  .s{color:#718C00}
  .na{color:#4271AE}
  .nb{color:#4271AE}
  .nc{color:#EAB700}
  .no{color:#EAB700}
  .nd{color:#3E999F}
  .ni{color:#545454}
  .ne{color:#C82829}
  .nf{color:#4271AE}
  .nl{color:#545454}
  .nn{color:#EAB700}
  .nx{color:#4271AE}
  .py{color:#545454}
  .nt{color:#3E999F}
  .nv{color:#C82829}
  .ow{color:#3E999F}
  .w{color:#545454}
  .mf{color:#F5871F}
  .mh{color:#F5871F}
  .mi{color:#F5871F}
  .mo{color:#F5871F}
  .sb{color:#718C00}
  .sc{color:#545454}
  .sd{color:#929292}
  .s2{color:#718C00}
  .se{color:#F5871F}
  .sh{color:#718C00}
  .si{color:#F5871F}
  .sx{color:#718C00}
  .sr{color:#718C00}
  .s1{color:#718C00}
  .ss{color:#718C00}
  .bp{color:#545454}
  .vc{color:#C82829}
  .vg{color:#C82829}
  .vi{color:#C82829}
  .il{color:#F5871F}
}
