/* CSS for website */

.markdown-section a.glossary-term {
  color: inherit;
  border-bottom: 1px dotted #AAA;
  text-decoration: none;
}

.callout {
  border-left: 5px solid #E8F0FE;
  margin-left: -10px;
  padding-left: 5px;
}

