/* CSS for website */

.markdown-section a.glossary-term {
  color: inherit;
  border-bottom: 1px dotted #AAA;
  text-decoration: none;
}

.markdown-section blockquote {
  padding: .85em 8px .85em 16px;
  background-color: #e8f0fe;
  border-left: 4px solid #3367d6;
  color: #333;
}

